                                                                       /*LOGO*/
body {
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  top: 0;
  left: 0;
  position: fixed;
  height: 120px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  /*border-bottom: 2px solid white;*/
  z-index: 1;
}

.logo {
  float: left;
  height: 40px;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 20px;
  color: white;
}

.ulogo {
  max-height: 80px;
  width: auto;
}

nav ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
  display: flex;
}

nav ul li a {
  font-size: 20px;
  font-weight: bold;
  color: white;
  line-height: 120px;
  text-decoration: none;
  padding: 12px 30px;
}

nav ul li a:hover {
  border-radius: 50px;
  background: white;
  color: black;
}

                                                              /*HERO IMAGE BANNER*/


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  /* opacity: .7; */
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/*Deskripsi*/
.desk{
  text-align: center;
}

/*Berita*/
.berita-home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
  background-color: skyblue;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}
.berita-home img{
  width: 500px;
  height: 300px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.btn2 {
  background-color: #4CAF50; /* Hijau */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  }
  .btn2:hover{
  background-color: salmon;
  color: white;
  }

  /*Berita checkbox*/
  .card {
    background-color: skyblue;
    color: white;
    width: 350px;
    padding: 22px 30px;
    border-radius: 5px;
    line-height: 1.8;
  }

  #ch {
    display: none;
  }
  
  .content {
    display: none;
  }

  #ch:checked ~ .content{
    display: block;
  }

  #ch:checked ~ label {
    display: none;
  }

  label {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: rgba(72,113, 97);
    padding: 3px 13px;
    border-radius: 3px;
    margin-top: 12px;
  }
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*Footer*/
footer {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

/*youtube*/
.youtube {
  /*background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9InJnYmEoMCwxMjcsMjI0LDAuNDYpIj48cGF0aCBkPSJNMTIxNC4zMjMgNjYuMDUxaC03OS44NjNsLTcwLjc5MyAxOC4yMjQtNjYuMjg1LTEwLjkzMy04My42NzIgMjIuOTUzLTk3LjYwMS03LjMyOC03My42NjQgMjIuMTI1LTc2Ljk2MSA4LjQ3NS04Mi42NjQtMTMuOTM0LTc2LjkyNiAxMS44MzItOTQuNDUzLTcuNjY2LTkwLjEzNyAxNy4wNTktNzguNjg0LTkuNzMxLTg2LjM2MyAxMy44NzktOTUuNjQ0IDMuMTI1TDAgMTI2LjcxN1YwaDEyODBsLS4wMDEgMzUuODQ0eiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0wIDBoMTI4MHYuMDA2bC03MC42NzYgMzYuNTc4LTc0Ljg2MyA0LjY0MS03MC43OTMgMjMuMzM0LTY2LjI4NS0xMS42NzgtODMuNjcyIDI5LjYxOC05Ny42MDItNy4wNy02My42NjQgMjEuNDIxLTc2Ljk2MSAxMi42NDktOTEuNjY0LTIwLjc5OC03Ny45MjYgMTcuNjYtOTQuNDUzLTcuNTc0LTkwLjEzNyAyMS41OTUtNzguNjgzLTkuODg0LTg2LjM2MyAxNi4wNzQtOTUuNjQ1IDYuMjExTDAgMTI3LjkwNXoiLz48L2c+PC9zdmc+);
  background-size: 100% 100px;*/
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content-youtube3 {
  display: flex;
  flex-direction: row;
}

/* Gallery Home */


/* Kontak */

.kontak {
  background-color: skyblue;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}
.icon {
  display: flex;
  flex-direction: row;
}

.img1 {
  width: 100px;
  height: 100px;
}
.img2 {
  width: 120px;
  height: 120px;
}